html, body, div, span, header, h1, h2, h3, h4, h5, h6, img, main, section, figure, ul, li, p, a {
    margin: 0;
    padding: 0;
    font-size: 100%;
    vertical-align: baseline;
    text-decoration: none;
    list-style-type: none;
}