body, p, a, ul, li, h1 {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style-type: none;
    box-sizing: border-box;
}

body {
    color: #fff;
    font-family: "Share Tech Mono";
    background-color: #7882A4;
}

#main-wrapper {
    min-height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

a {
    color: #fff;
}

p {
    font-size: 1rem;
    line-height: 2.0;
}

#admin-pic img {
    height: 250px;
    width: 250px;
    box-shadow: 8px 8px #fff;
}

main {
    height: 85vh;
    width: 40vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

section {
    display: flex;
    justify-content: space-between;
}

p#about {
    width: 60%;
}

.blog-post {
    margin-bottom: 2rem;
}

.blog-post p{
    margin: 0.5rem 0;
    font-size: 0.9rem;
}

nav {
    width: 40vw;
    height: 15vh;
}

nav ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media screen and (max-width: 530px) {
    nav ul {
        flex-direction: column;
    }
}

nav li a {
    padding-bottom: 0.5rem;
    font-size: 1.5rem;
}

h1 {
    letter-spacing: .15rem;
    font-size: 7rem;
    font-weight: none;
    font-style: normal;
}

h2 {
    margin: 2rem 0;
    letter-spacing: .15rem;
    font-size: 1.6em;
}

h3 {
    margin-bottom: 2rem;
    letter-spacing: .15rem;
    font-size: 2rem;
}

h4 {
    margin: 0 auto;
    margin-bottom: 1rem;
    font-size: 1.2rem;
}

.container {
    width: 100%; 
    background-color: #d5d5d5;
  }
  
.skills {
    text-align: right; 
    padding: 3px 0;
    color: #7882A4; 
}

#html {
    width: 90%; background-color: #fff;
}
#css {
    width: 80%; background-color: #fff;
} 
#js {
    width: 65%; background-color: #fff;
} 
#php {
    width: 60%; background-color: #fff;
} 
#java {
    width: 80%; background-color: #fff;
}

article {
    width: 50%;
}

#blog-header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

button#login {
    background: none;
    border: 3px solid #eee;
    border-radius: 8px;
    height: 2.4rem;
}

button#login a {
    padding: 1.5rem;
    font-family: 'Share Tech Mono';
    font-size: 1rem;
    text-align: center;
}

button#login:hover{
    background-color: #626b8a;
}

#blog-form {
    height: 50vh;
    width: 45%;
    display: flex;
    flex-direction: column;
}

#blog-form input, #blog-form textarea {
    padding: 0.5rem;
    border-radius: 8px;
    border: none;
    color: #666;
    font-family: 'Share Tech Mono';
    font-size: 0.9rem;
}

#blog-form textarea {
    height: 100%;
    margin-top: 1rem;
}

#button-group {
    margin: 1rem -0.5rem;
    display: flex;
    justify-content: space-between;
}

#button-group input {
    margin: 0 0.5rem;
    width: 50%;
}

#login-form {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#login-form input{
    padding: 0.5rem;
    border-radius: 5px;
    border: none;
    color: #666;
    font-size: 1rem;
    font-family: 'Share Tech Mono';
}

#login-form #username{
    margin-bottom: 1rem;
}

#projects {
    display: grid;
    grid-template-columns: auto auto;
    gap: 1rem;
}

#projects figure {
    height: 250px;
    width: 374px;
    border: 3px solid #ffffff;
    border-radius: 8px;
}

#projects figure img {
    border-radius: 8px;
}

#projects figure:hover {
    opacity: 0.8;
}

button#email {
    width: 10rem;
    margin-top: 1.5rem;
    margin-right: 1rem;
    background: none;
    border: 3px solid #eee;
    border-radius: 8px;
    height: 2.4rem;
}

button#email a {
    padding: 1.5rem;
    font-family: 'Share Tech Mono';
    font-size: 1rem;
    text-align: center;
}

button#email:hover{
    background-color: #626b8a;
}